@model MovieRentalApp.Models.MovieViewModel
@{
    ViewBag.Title = "Insert Movie";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<form action="saveMovieDetails" method="post">
    <div class="form-group">
        <label for="inputMovie">Movie Name</label>
        <input type="text" class="form-control" name="inputMovie" id="inputMovie" placeholder="Enter movie name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
